* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    box-sizing: border-box;
    background: transparent;
    font-family: inherit;
}

a {
    text-decoration: none;
}

a img {
    border: none;
}

button,
a {
    cursor: pointer;
    color: inherit;
}

textarea {
    resize: none;
}

button,
textarea,
select {
    appearance: none !important;
    border-radius: 0;
}

/*END OF CSS RESET*/

/* primary color: #f8f7f3
  secondary color: #1a24fb */

body {
    background-color: #f8f7f3;
    font-family: 'Overpass', sans-serif;
    /* font-family: 'Montserrat', sans-serif; */
}

.header {
    width: 100%;
    height: 40px;
    position: fixed;
    display: flex;
    justify-content: space-between;

    background-color: #1a24fb;
    color: #f8f7f3;

    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 0.2em;
    text-transform: uppercase;

    z-index: 10;
    padding: 5px;

}
.material-symbols-outlined {
    font-size: 24px;
}

